@import "tailwindcss";





@theme {
  /* Definimos la animación para que dure 1.2 segundos y tenga ese efecto fluido */
  --animate-slide-in: slide-in 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  /* Creamos el movimiento desde la izquierda (-100px) hacia su posición original (0) */
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}